.carousal {
  width: 100%;
  min-height: 50vh;
  padding: 20vh 0 10vh 0;
  background-color: #111;
  text-align: center;
  color: #fff;
  h1 {
    margin-bottom: 10px;
    font-size: 3vw;
  }
  .carousalWrapper {
    margin: 5vh auto 5vh auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px auto 0px auto;
    color: #fff;
    border: 1px solid #fff;
    position: relative;
    z-index: 3;
    p {
      color: #fff;
    }
    img {
      width: 20px;
      margin: 15px;
    }
    &:hover {
      background-color: #fff;
      color: #111;
      p {
        color: #111;
      }
      img {
        filter: invert(1);
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 20%;
        width: 90%;
        background-color: #fff;
        filter: blur(15px);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
