.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  .navbarSlider {
    display: none;
    p {
      font-size: 20px;
    }
  }

  .headerWrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
  }

  .logos {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 25px;
    }

    p {
      margin: 10px;
      font-size: 20px;
      font-weight: 400;
      color: white;
    }
  }

  .mainNav {
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;
      display: flex;

      li {
        position: relative;
        padding: 10px;
        a {
          text-decoration: none;
          color: white;
          // cursor: url(../assets/pointer1.svg), pointer;
          padding: 1rem;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 10%;
          height: 1px;
          background-color: #fff;
          width: 00%;
          transition: 0.3s ease-in-out;
        }
        &:hover {
          &::after {
            width: 80%;
          }
        }
      }
    }
  }

  .search {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // img {
    //   width: 25px;
    //   margin: 10px;
    //   cursor: pointer;
    // }
    color: #fff;
  }
}
