.heroWrapper {
  // background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  // color: whitesmoke;d

  .headingWrapper {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    h1 {
      font-size: 100px;
      user-select: none;
    }
    .cityName {
      height: fit-content;
      overflow: hidden;
      // background-color: red;

      h1 {
        animation: animate 5s infinite ease-in-out;
        animation-delay: 4s;
      }
    }
  }

  ul {
    list-style-type: none;

    li {
      padding: 10px 0;
      font-size: 16px;
      cursor: pointer;
      user-select: none;
      width: 35px;
      height: 35px;
      margin: 10px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 1s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    .active {
      // height: 35px;
      // width: 35px;
      background-color: #fff !important;
      color: #111 !important;
      // font-size: 18px;
      // transform: translateX(-10%);
      position: relative;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: 0%;
      //   left: 0%;
      //   height: 100%;
      //   width: 100%;
      //   background-color: red;
      //   z-index: -1;
      //   transition: 1s ease-in-out;
      // }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-100%);
  }
  25% {
    transform: translateY(-100%);
  }
  25.0000000001% {
    transform: translateY(100%);
  }
  45.0000000001% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
