*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.carousel{
    max-width: 1650px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel_item{
    display: flex;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: carousel 4s linear infinite;
}

img{
    display: block;
    width: 640px;
    object-fit: cover;
}

@keyframes carousel
{
    100%
    {
        transform: translateX(-2650px);
    }
}