@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
}

body{
  width: 100vw;
  overflow-x: hidden;
  /* background-color: rgb(71, 71, 71); */
}

.highlight:hover .mouseFollower{
  transform: scale(2);
}