@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  cursor: none !important;
  /* color: #fff; */
}

::-webkit-scrollbar{
  display: none;
}


body{
  width: 100vw;
  overflow-x: hidden;

}
/* p,h1,h2,h3,h4,h5,h6,article,li,a,button{
  position: relative;
  z-index: 4;
} */



.highlight:hover .mouseFollower{
  transform: scale(2);
}

.mouseFollowerHover {
  height: 100px !important;
  width: 100px !important;
  transform: translate(-50%, -50%) rotate(135deg) !important;
}
.mouseFollowerMiniHover {
  height: 50px !important;
  width: 50px !important;
}